@import './variables';

%mainColor-box {
  border-radius: 10px;
  background-color: $mainColor;
  color: $brightColor;
  padding: 0 20px;
}

%container {
  box-sizing: content-box;
  margin: 20px;
  @media screen and (min-width: $bp-desktop) {
    //max-width: 1240px;
    margin-top: 20px;
    // margin-left: auto;
    // margin-right: auto;
  }
  @media screen and (min-width: $bp-bigDesktop) {
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
  }
}
