@import '../../styles/variables';
@import '../../styles/extends';

.property {
  @extend %container;
  &-title {
    font-size: 1em;
    line-height: 1.4em;
    @media only screen and (min-width: $bp-desktop) {
      font-size: 2em;
    }
  }
  &-location {
    margin-top: 3px;
    font-size: 0.78em;
    @media only screen and (min-width: $bp-desktop) {
      font-size: 1em;
    }
  }
  &-tags {
    margin-top: 12px;
    margin-bottom: 1em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    @media only screen and (min-width: $bp-desktop) {
      margin-bottom: 0;
    }
  }
  &-info {
    margin-top: 30px;
    @media only screen and (min-width: $bp-desktop) {
      display: flex;
      justify-content: space-between;
    }
    &-secondary {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      @media only screen and (min-width: $bp-desktop) {
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 1em;
      }
    }
    &-owner {
      display: flex;
      align-items: center;
      gap: 10px;
      p {
        font-size: 0.67em;
        width: 90px;
        overflow-wrap: break-word;
        text-align: right;
        @media only screen and (min-width: $bp-desktop) {
          font-size: 1em;
        }
      }
      img {
        width: 32px;
        height: 32px;
        border-radius: 10em;
        @media only screen and (min-width: $bp-desktop) {
          width: 64px;
          height: 64px;
        }
      }
    }
  }
}
