@import '../../styles/variables';
@import '../../styles/extends';

.collapses {
  @media screen and(min-width: $bp-desktop) {
    display: flex;
    justify-content: space-between;
    gap: 4em;
  }
}

.collapse {
  flex: 1;
  margin-top: 20px;
  max-width: 1023px;
  margin-left: auto;
  margin-right: auto;
  @media screen and(min-width: $bp-desktop) {
    margin-top: 26px;
  }
  &-title {
    position: relative;
    z-index: 1;
    color: $brightColor;
    background-color: $mainColor;
    font-size: 0.72em;
    padding: 8px 11px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    + .collapse-content {
      transform: translateY(-6px);
      display: block;
    }
    &.isClosed {
      &::after {
        transform: rotate(180deg);
      }
      + .collapse-content {
        display: none;
      }
    }
    &::after {
      content: '';
      height: 10px;
      width: 16px;
      background-size: 16px 10px;
      background-image: url('/assets/arrow.svg');
      background-repeat: no-repeat;
      @media screen and (min-width: $bp-desktop) {
        height: 15px;
        width: 24px;
        background-size: 24px 15px;
      }
    }
    @media screen and (min-width: $bp-desktop) {
      font-size: 1.33em;
      padding: 8px 18px;
    }
  }
  &-content {
    padding: 23px 12px;
    min-height: 144px;
    color: $mainColor;
    background-color: $secondaryColor;
    border-radius: 0 0 5px 5px;
    .collapse-text,
    .collapse-list li {
      font-weight: 400;
      font-size: 00.67em;
    }
    @media screen and (min-width: $bp-desktop) {
      padding: 36px 18px;
      .collapse-text,
      .collapse-list li {
        font-size: 1.33em;
        line-height: 1.4em;
      }
    }
  }
}

.collapse-medium {
  .collapse {
    &-title,
    &-text,
    &-list li {
      @media screen and (min-width: $bp-desktop) {
        font-size: 1em;
      }
    }
  }
}
