@import '../../styles/variables';
@import '../../styles/extends';

.header {
  @extend %container;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.3);
  background-image: url('../../assets/images/eric-muhr-P_XxsdVgtpQ-unsplash.jpeg');
  background-size: 190%;
  background-position-x: 50%;
  background-position-y: 49%;
  background-repeat: no-repeat;
  background-blend-mode: darken;
  height: 111px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  @media screen and (min-width: $bp-tablet) {
    background-size: cover;
    justify-content: center;
  }
  @media screen and (min-width: $bp-desktop) {
    background-position-y: 44%;
    border-radius: 25px;
    height: 223px;
  }
  &-wide {
    background-image: url('../../assets/images/kalen-emsley-Bkci_8qcdvQ-unsplash.jpeg');
    height: 223px;
    background-position-x: 50%;
    background-position-y: 67%;
    @media screen and (min-width: $bp-desktop) {
      background-position-y: 42%;
    }
  }
  &-title {
    color: $brightColor;
    font-size: 1.33em;
    margin-left: 16px;
    margin-right: 80px;
    @media screen and (min-width: $bp-tablet) {
      margin: 0;
    }
    @media screen and (min-width: $bp-desktop) {
      font-size: 2.67em;
    }
  }
}
